/* Add here all your css styles (customizations) */
.r-brd-none{
	border-radius: 0;
}
.no-resize{
	resize: none;
}
.hidden{
	display: none;
}
.m-w-60{
	height: 60px !important;
}
.bg-color-success{
	background-color: #5CB85C ;border-color: #4cae4c !important;
}
.bg-color-warning{
	background-color: #F0AD4E ; border-color: #985f0d !important;
}
.bg-color-primary{
	background-color: #337AB7 ; border-color: #2e6da4 !important;
}
.bg-color-danger{
	background-color: #D9534F ; border-color: #761c19 !important;
}
.bg-color-info{
	background-color: #5BC0DE ; border-color: #1b6d85 !important;
}
.bg-color-default{
	background-color: #999 ; border-color: #8c8c8c !important;
}
.pagination{
	margin-top: 20px;
	display: inline-block;
	box-sizing: inherit;
	margin-right: 5px;
}
.pagination li{
    margin-right: 5px; 
    display: inline-block;     
    text-align: -webkit-match-parent;
}
.pagination .active span{
    color: #fff !important;
    font-size: 0.85714rem !important;
}
.pagination a, .pagination span{
	width: 30px;
	height: 30px;
	display: inline-block;
    text-align: center;
    text-decoration: none;
    border: solid 1px transparent;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;    
    border-radius: 50%;
    padding: 0.35714rem !important;
	color: #999 !important;
    font-size: 0.85714rem !important;
}
.pagination .arrow a{
    font-size: 0.85714rem !important;
	border-color: #999 !important;
}
.pagination .arrow.disabled{
	display: none !important;
}

.jp-pagination{
	margin-top: 20px;
	display: inline-block;
	box-sizing: inherit;
	margin-right: 5px;
}
.jp-pagination li{
    margin-right: 5px; 
    display: inline-block;     
    text-align: -webkit-match-parent;
}
.jp-pagination .jp-current{
    color: #fff !important;
    font-size: 0.85714rem !important;
    background-color: #3bb18f !important;
}
.jp-pagination a{
	width: 30px;
	height: 30px;
	display: inline-block;
    text-align: center;
    text-decoration: none;
    border: solid 1px transparent;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;    
    border-radius: 50%;
    padding: 0.35714rem !important;
	color: #999 !important;
    font-size: 0.85714rem !important;
}
.jp-pagination .arrow a{
    font-size: 0.85714rem !important;
	border-color: #999 !important;
}
.jp-pagination .jp-disabled{
	display: none !important;
}
.jp-pagination .jp-next, .jp-pagination .jp-previous{
    color: #359e80;
    border: solid 1px #359e80;
}