.invoice_bg {
    margin  : 15px 0 30px;
    padding : 20px;
}
.m-l-40 {
    margin-left : 30px;
}
.table {
    /*border       : 1px solid #ccc;*/
    border: none;
    table-layout : fixed;
}
.table tbody > tr {
    height : 50px;
}
.table-responsive {
    width : 100%;
}
td,
th {
    width     : 40%;
    word-wrap : break-word;
}
/*ul {
    list-style : initial;
}*/
img{
    width: 22%;
}
.table-condensed > thead > tr > th {
    padding : 15px 8px;
    width   : 80px;
}
.table-condensed > thead > tr > th:first-child {
    width : 100%;
}
.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tfoot > tr > td {
    padding     : 15px 8px;
    white-space : normal;
}
#add_row i, .row_delete i {
    cursor : pointer;
}
@media print {
    .btn-section,
    .left-side,
    .no-print,
    .content-header,
    .header,
    .header-page,
    .header-data,
    .btn-section,
    .panel-heading,
    .table-order,
    #customtable > tr > td:last-child {
        display : none;
    }
    .table-responsive {
        display : inline-table;
        width   : 100%;
    }
    #invoice-stmt {
        width : 100%;
    }
    .right-side {
        margin-left : 0;
    }
}
