
/* MESSAGES */
.messages{

}
.messages p{
	margin: 10px auto;
}
.body-message{
	padding: 30px;
}
.body-message .message-data{
	margin-right: 10px;
	font-size: 8pt;
}
.responses .item{
    position: relative;
    margin-left: 70px;
    margin-bottom: 20px; 
}
.responses .item .bag{
	position: absolute;
	top:10px;
	left: -70px;
	width: 50px;
	height: 50px;
	border-radius:50%;
	background-color: #18445F;
	color: #FFF;
	line-height: 50px;
	text-align: center;
}
.responses .item .response-content{	
	position: relative;
	display: block;
	border: solid #eee 1px !important;
	padding: 30px;
	margin: 10px auto;
}